.container {
	width: 420px;
}

.thumbs {
	.item {
		width: 70px; height: 70px;
		border: 5px #FFF solid;
		background: #000;
	}
}



.tw-wrapper {
	position: relative;
	margin: 20px auto;
	&.horizontal {
		.tw-items {
			width: 9999px;
			&:before, &:after {
				display: table;
				content: "";
				visibility: hidden;
				clear: both;
			}
			> div {
				float: left;
			}
		}
		.tw-controls {
			&:before, &:after {
				display: table;
				content: "";
				visibility: hidden;
				clear: both;
			}
			> div {
				width: 10px; height: 15px;
				cursor: pointer;
				background: red;
				&:first-child { float: left; }
				&:last-child { float: right; }
			}
		}
	}
	&.vertical {
		.tw-controls {
			position: absolute; top: 0; bottom: 0;
			height: 100%; min-height: 100%;
			&:before, &:after {
				display: table;
				content: "";
				visibility: hidden;
				clear: both;
			}
			> div {
				width: 10px; height: 15px;
				cursor: pointer;
				background: red;
				&:last-child {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}
.tw-items {
	position: absolute; left: 0; top: 0;
}
.tw-viewport {
	position: relative;
	width: 100%;
	border: 1px #000 solid;
	overflow: hidden;
}



