.container {
  width: 420px; }

.thumbs .item {
  width: 70px;
  height: 70px;
  border: 5px #FFF solid;
  background: #000; }

.tw-wrapper {
  position: relative;
  margin: 20px auto; }
  .tw-wrapper.horizontal .tw-items {
    width: 9999px; }
    .tw-wrapper.horizontal .tw-items:before, .tw-wrapper.horizontal .tw-items:after {
      display: table;
      content: "";
      visibility: hidden;
      clear: both; }
    .tw-wrapper.horizontal .tw-items > div {
      float: left; }
  .tw-wrapper.horizontal .tw-controls:before, .tw-wrapper.horizontal .tw-controls:after {
    display: table;
    content: "";
    visibility: hidden;
    clear: both; }
  .tw-wrapper.horizontal .tw-controls > div {
    width: 10px;
    height: 15px;
    cursor: pointer;
    background: red; }
    .tw-wrapper.horizontal .tw-controls > div:first-child {
      float: left; }
    .tw-wrapper.horizontal .tw-controls > div:last-child {
      float: right; }
  .tw-wrapper.vertical .tw-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%; }
    .tw-wrapper.vertical .tw-controls:before, .tw-wrapper.vertical .tw-controls:after {
      display: table;
      content: "";
      visibility: hidden;
      clear: both; }
    .tw-wrapper.vertical .tw-controls > div {
      width: 10px;
      height: 15px;
      cursor: pointer;
      background: red; }
      .tw-wrapper.vertical .tw-controls > div:last-child {
        position: absolute;
        bottom: 0; }

.tw-items {
  position: absolute;
  left: 0;
  top: 0; }

.tw-viewport {
  position: relative;
  width: 100%;
  border: 1px #000 solid;
  overflow: hidden; }

/*# sourceMappingURL=tw-viewer.css.map */
